<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Catalog.DAL.Properties.Settings.CatalogConnectionString"
            connectionString="Data Source=.;Initial Catalog=Catalog;Persist Security Info=True;User ID=catalog_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>